<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593814788917-psvs78b52nqeu82ng56cpatqd803albk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593814788917-psvs78b52nqeu82ng56cpatqd803albk</string>
	<key>API_KEY</key>
	<string>AIzaSyBRuX4wRBX55pCoho9Fti8_IsvMQbgbcpE</string>
	<key>GCM_SENDER_ID</key>
	<string>593814788917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todoapp-fbb25</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-fbb25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593814788917:ios:46b14b48c02c4067294a7c</string>
</dict>
</plist>